@import url('font/roboto/Roboto-Regular.ttf');
body {
    font-family: 'Roboto', sans-serif;
    color: #404040; /* paleta 5 */
    background: #F2F2F2;
}

header {
    background: #3BD9C9; /* paleta 3 */
    /* Faz com que a página role para baixo e o cabeçalho fique fixo */
    position: fixed;
    /* Z-Index faz com que o header sobreponha qualquer outro elemento position:absolute do conteúdo (ed: .carroFavorito) */
    z-index: 1;
    /* Display flexível coloca os elementos linearmente */
    display: flex;
    width: 100%;
}

/* ############ LOGO ############ */
.logoBackground {
    background: white;
    /* A borda se ajusta em um círculo envolvendo a logo */
    border-radius: 50%;
    margin-left: 16px;
}

.logo {
    width: 140px;
    height: 140px;
}

/* ############ MENU ############ */
nav ul {
    position: absolute;
    /* Na parte de baixo do header com uma distancia para baixo de 26px */
    bottom: 0;
    /* Espaçado para a logo + margem esquerda */
    left: calc(140px + 16px);
    /* Tonar a posição dos elementos flexível */
    display: flex;
    /* Justifica dentro do espaço limitado */
    justify-content: space-around;
    /* Tamanho ajustado conforme espaço da tela - tamanho dos demais elementos laterais */
    width: calc(100% - 140px - 46px);
    /* Define um limite para expansão do menu */
    max-width: 800px;
    font-size: 13pt;
    font-weight: bold;
    padding: 10px;
}

nav ul li input[type=button] {
    height: 42px;
    padding: 0 20px;
    font-size: 11pt;
    border: none;
    background: transparent;
}

/* Ao colocar o cursor em cima */
nav ul li input[type=button]:hover {
    /* Faz a transição ser gradual em 500ms */
    transition: 500ms;
    /* Destaca a borda de baixo */
    border-bottom: solid 5px orange;
    /* Amplia 20% */
    transform: scale(1.1);
    font-weight: bold;
}

nav ul li input[type=button]:active {
    /* Transação mais rápida que o hover */
    transition: 50ms;
    border: none;
    border-radius: 10px;
    /* Torna o fundo 50% opaco */
    background: rgba(255,255,255,0.5);
}

/* ############ BARRA DE PESQUISA ############ */
.pesquisaForm {
    position: absolute;
    top: 0;
    right: 16px;
    padding: 10px;
}

.pesquisaForm label {
    /* Esse display block é para o label ficar em cima da caixa de pesquisa */
    display: block;
    /* Um pequeno espaçamento em baixo */
    margin-bottom: 5px;
    font-size: 11pt;
}

.pesquisaForm input {
    border-radius: 10px;
    width: 300px;
    height: 44px;
    font-size: 13pt;
    padding: 0 20px;
}

/* ############ CONTEÚDO PRINCIPAL ############ */
main {
    /* Afasta em cima para sair da frente do cabeçalho que está fixo */
    padding-top: 150px;
}

.listaCarros {
    display: flex;
    /* Alinha de forma justa modificando o espaçamento entre os elementos */
    justify-content: space-around;
    /* Faz com que, ao diminuir a tela, passe elementos para linha de baixo */
    flex-wrap: wrap;
}

.cartaoCarro {
    width: 250px;
    background: white;
    border-radius: 10px;
    margin: 15px 15px;
}

.cartaoCarro:hover {
    transform: scale(1.05);
    transition: 250ms;
}

.carroFavorito {
    position: absolute;
    width: 44px;
    height: 44px;
    margin: 10px 0 0 10px;
}

.carroFavorito:hover {
    transform: scale(1.2);
    transition: 250ms;
    cursor: pointer;
}

.fotoCarro {
    width: 100%;
}

.cartaoCarro h3 {
    text-align: center;
    margin: 10px 0 15px;
}

.cartaoCarro p {
    text-align: justify;
    font-size: 10pt;
    padding: 0 10px;
    margin-bottom: 15px;
}

.cartaoModelo {
    visibility: hidden;
}

